<div class="wrapper">
  <div class="sidebar"
       data-color='purple'

       style="background-color: white"
  >
    <div class="sidebar-wrapper" >
      <div class="nav-container">
        <ul class="nav">

          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="admins">
              <i class="material-icons">content_paste</i>
              <p>Administradores</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="carreras">
              <i class="material-icons">library_books</i>
              <p>Carreras</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="coordinadores">
              <i class="material-icons">assignment_ind</i>
              <p>Coordinadores</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="semestres">
              <i class="material-icons">calendar_today
              </i>
              <p>Semestres</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="sedes">
              <i class="material-icons">location_on</i>
              <p>Sedes</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="escuelas">
              <i class="material-icons">school</i>
              <p>Escuelas</p>
            </a>
          </li>

        </ul>
      </div>


    </div>
    <div class="sidebar-background" style="background-color: white"></div>
    <!--style="background-image: url(../assets/img/sidebar-4.jpg)"></div>-->
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#"></a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <button class="btn btn-primary">Cerrar sesión</button>
        </div>
      </div>
    </nav>

    <br>
    <br>
    <br>
    <div class="container-fluid">

      <router-outlet ></router-outlet>
    </div>

  </div>
</div>

