<div class="col-md-12">
  <a routerLink="crearSede" class="btn btn-primary">Agregar sede</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Sedes</h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Nombre sede
        </th>
        <th>
          Ubicación
        </th>

        </thead>
        <tbody>
        <tr >
          <td>Centro Academico San Jose</td>
          <td>Al frente del INVU en San Jose centro</td>
          <td><button class="btn btn-primary" >Seleccionar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
