<div class="row">
  <div class="col-md-12">
    <div class="col-md-10 offset-md-1">
      <br>
      <h2>Coordinadores</h2>
      <table mat-table [dataSource]="dataSource" matSort>


        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Primer apellido </th>
          <td mat-cell *matCellDef="let element">{{element.lastName}}</td>

        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="secondLastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Segundo apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.secondLastName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
          <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo electrónico </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef > Acciones </th>
          <td mat-cell *matCellDef="let element">
            <div fxLayout fxLayoutGap="10px">
              <button mat-raised-button (click)="deleteCoordinator(element.id)" color="warn">Eliminar</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

</div>
