<section>
  <br>
  <br>
  <br>
  <br>
  <div class="col-md-8 offset-md-2">
    <h2 class="font-primary">
      Registro de estudiantes
    </h2>
    <mat-horizontal-stepper #stepper>
      <mat-step>
        <app-create-person></app-create-person>
        <br>
        <div fxLayout fxLayoutGap="10px">
          <button mat-raised-button routerLink=".." color="warn">Cancelar</button>
          <button mat-raised-button matStepperNext color="primary">Siguiente</button>
        </div>
      </mat-step>
      <mat-step>
          <app-create-student></app-create-student>
        <div>
          <br>
          <div fxLayout fxLayoutGap="10px">
            <button mat-raised-button color="warn" matStepperPrevious>Atras</button>
            <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
          </div>

        </div>
      </mat-step>
      <mat-step>
        <app-create-user></app-create-user>
        <br>
        <div fxLayout fxLayoutGap="10px">
          <button mat-raised-button color="warn" matStepperPrevious>Atras</button>
          <button mat-raised-button color="primary" (click)="onSubmit()" type="submit">Completar registro</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>



</section>


