<div class="col-md-12">
  <a routerLink="crearSede" class="btn btn-primary">Agregar Escuela</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Escuelas</h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Nombre Escuela
        </th>
        <th>
          Universidad
        </th>

        </thead>
        <tbody>
        <tr *ngFor='let school of schools | async'>
          <td>{{school.NombreEscuela}}</td>
          <td>{{school.NombreUniversidad}}</td>
          <td><button class="btn btn-primary" >Seleccionar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
