<div class="col-md-6 offset-md-3">
  <mat-card>
    <mat-card-title>Editar sede</mat-card-title>
    <mat-card-content>
      <form [formGroup]="editSiteForm" (ngSubmit)="onSubmit()">

        <div class="row">

          <div class="col-md-12">
            <mat-form-field>
              <input matInput placeholder="Nombre de la sede" formControlName="site">
              <mat-error *ngIf="editSiteForm.hasError('required', ['site'])">Este campo es obligatorio</mat-error>
            </mat-form-field>

          </div>

        </div>

      </form>
      <div fxLayout fxLayoutGap="10px">
        <button mat-raised-button color="warn" routerLink=".." type="button">Cancelar</button>
        <button mat-raised-button color="primary"  type="submit" (click)="onSubmit()">Editar sede</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
