<div class="col-md-12">
  <a routerLink="crearCarrera" class="btn btn-primary">Agregar carrera</a>
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Carreras</h4>
    </div>
    <div class="card-content table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Escuela
        </th>
        <th>
          Nombre carrera
        </th>

        </thead>
        <tbody>
        <tr >
          <td>Escuela de computación</td>
          <td>Ingenieria en computacion</td>
          <td><button class="btn btn-primary" >Seleccionar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
