<div class="row">
  <div class="col-md-12">
    <div class="col-md-10 offset-md-1">
      <h2>Sedes asociadas</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Centro Academico San Jose
            </mat-panel-title>
            <mat-panel-description>
              Carreras asociadas
            </mat-panel-description>
          </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>Hola</mat-list-item>
          <mat-divider></mat-divider><mat-list-item>Hola</mat-list-item>
          <mat-divider></mat-divider><mat-list-item>Hola</mat-list-item>
          <mat-divider></mat-divider><mat-list-item>Hola</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>

        </mat-expansion-panel>

      </mat-accordion>

    </div>
  </div>
</div>
