
<h2 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Información charla</h2>

<mat-dialog-content >

  <mat-checkbox [(ngModel)]="showForm" color="primary">¿Desea dar una charla?</mat-checkbox>


  <ng-container *ngIf="showForm">
    <div class="row" >
      <div class="col-md-12">

        <form [formGroup]="talkEventForm">
          <div class="row">

            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Nombre de la charla" formControlName="talkName">
                <mat-error *ngIf="talkEventForm.hasError('required', ['talkName'])">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Nombre del charlista" formControlName="speaker">
                <mat-error *ngIf="talkEventForm.hasError('required', ['speaker'])">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <mat-form-field>
                <textarea matInput placeholder="Observaciones adicionales" formControlName="observations"></textarea>
                <mat-hint>Debería indicar los horarios que prefiere</mat-hint>
                <mat-error *ngIf="talkEventForm.hasError('required', ['observations'])">Este campo es obligatorio</mat-error>
              </mat-form-field>
            </div>

          </div>
        </form>
      </div>
    </div>
  </ng-container>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn"  (click)="close()">Cerrar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Enviar solicitud</button>
</mat-dialog-actions>
