<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-primary" data-background-color="purple">
      <h4 class="title ">Eventos proximos</h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class=" text-primary">
        <th>
          Hora Inicio
        </th>
        <th>
          Hora Finalización
        </th>
        <th>
          Día
        </th>
        <th>
          Universidad
        </th>
        <th>
          Sede
        </th>
        <th>
          Carrera
        </th>
        </thead>
        <tbody>
        <tr>
          <td>Hora Inicio</td>
          <td>Hora Fin</td>
          <td>Dua</td>
          <td>Universidad</td>
          <td>Sede</td>
          <td>Carrera</td>
          <td><button class="btn btn-primary" (click)="seleccionarEvento(evento.IdEvento)">Seleccionar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
