<div class="col-md-12 ">

  <div class="row">
    <ng-container *ngFor="let semester of semesters">
      <div class="col-md-4">

        <mat-card class="col-md-12 ">
          <mat-card-title class="font-primary">Semestre {{ semester.semester == 1 ? 'I' : 'II' }}</mat-card-title>
          <mat-card-content>

            Empieza: {{ semester.start }}
            <br>
            <br>
            Termina: {{ semester.end }}
            <br>
            <br>
            <div fxLayout fxLayoutGap="10px">
              <button mat-raised-button color="warn" (click)="deleteSemester(semester.id)" type="button">Eliminar</button>
              <button mat-raised-button color="primary" [routerLink]="semester.id + '/editar'"  type="submit" >Editar</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>


  </div>
</div>


