<div class="wrapper">
  <div class="sidebar"
       data-color='purple'

       style="background-color: white"
  >
    <div class="sidebar-wrapper" >
      <div class="nav-container">
        <ul class="nav">
          <li  routerLinkActive="active">
            <a class="nav-link" routerLink="estadisticas">
              <i class="material-icons">dashboard</i>
              <p>Estadísticas</p>
            </a>
          </li>
          <li  routerLinkActive="active">
            <a class="nav-link" routerLink="estudiantes">
              <i class="material-icons">person</i>
              <p>Estudiantes</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="profesoresPractica">
              <i class="material-icons">content_paste</i>
              <p>Profesores</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="eventos">
              <i class="material-icons">library_books</i>
              <p>Eventos</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="empresas">
              <i class="material-icons">bubble_chart</i>
              <p>Empresas</p>
            </a>
          </li>
          <li class="nav-item " routerLinkActive="active">
            <a class="nav-link" routerLink="documentos">
              <i class="material-icons">location_ons</i>
              <p>Documentos</p>
            </a>
          </li>

        </ul>
      </div>


    </div>
    <div class="sidebar-background" style="background-color: white"></div>
         <!--style="background-image: url(../assets/img/sidebar-4.jpg)"></div>-->
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#"></a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">


          <button class="btn btn-primary">Cerrar sesión</button>
        </div>
      </div>
    </nav>

    <br>
    <br>
    <br>
    <div class="container-fluid">

      <router-outlet ></router-outlet>
    </div>

  </div>
</div>
