<div class="row">
  <div class="col-md-10  offset-1">
    <div class="card">
      <div class="card-header card-header-primary" data-background-color="purple">
        <h4 class="title">Crear Evento</h4>
      </div>
      <div class="card-body">
        <form [formGroup] = "formEvent">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="bmd-label-floating">Día del evento</label>
                <input type="date"
                       class="form-control"
                       formControlName="eventDay"
                >
                <span *ngIf="!formEvent.get('eventDay').valid && formEvent.get('eventDay').touched">
                  <div *ngIf="formEvent.get('eventDay').errors['required']" class="text-danger">Este campo es requerido</div>
                </span>
              </div>
            </div>
            <div class="col-md-3" >
              <div class="form-group">
                <label class="bmd-label-floating">Hora de inicio del evento</label>
                <input type="time"
                       class="form-control"
                       formControlName="startEventTime"
                >
                <span *ngIf="!formEvent.get('startEventTime').valid && formEvent.get('startEventTime').touched">
                  <div *ngIf="formEvent.get('startEventTime').errors['required']" class="text-danger">Este campo es requerido</div>
                </span>
              </div>
            </div>

            <div class="col-md-3" >
              <div class="form-group">
                <label class="bmd-label-floating">Hora de finalización del evento</label>
                <input type="time"
                       class="form-control"
                       formControlName="endEventTime"
                >
                <span *ngIf="!formEvent.get('endEventTime').valid && formEvent.get('endEventTime').touched">
                  <div *ngIf="formEvent.get('endEventTime').errors['required']" class="text-danger">Este campo es requerido</div>
                  <div *ngIf="formEvent.get('endEventTime').errors['horaInicioErronea']" class="text-danger">La hora de finalización tiene que ser mayor a la de inicio</div>
                </span>
              </div>
            </div>

            <div class="col-md-3" >
              <div class="form-group">
                <label class="bmd-label-floating">Nombre del evento</label>
                <input type="text"
                       class="form-control"
                       formControlName="endEventTime"
                >
                <span *ngIf="!formEvent.get('endEventTime').valid && formEvent.get('endEventTime').touched">
                  <div *ngIf="formEvent.get('endEventTime').errors['required']" class="text-danger">Este campo es requerido</div>
                  <div *ngIf="formEvent.get('endEventTime').errors['horaInicioErronea']" class="text-danger">La hora de finalización tiene que ser mayor a la de inicio</div>
                </span>
              </div>
            </div>



          </div>

          <div class="row">


          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label > Tipos de evento</label>
                <select class="form-control"
                        id="sedes"
                        formControlName="eventType">
                  <option *ngFor="let tipoDeEvento of tiposDeEvento | async" [value]="tipoDeEvento.idTipoEvento" >
                    {{ tipoDeEvento.nombre }}
                  </option>
                </select>
              </div>

            </div>


            <div class="col-md-4">
              <label class="bmd-label-floating">Foto</label>
              <input type="file"
                     class="form-control"
                     style="display: none"
                     (change)="cambioEnArchivo($event)"
                     #archivo
                     formControlName="photo"
              >
              <button class="btn btn-primary btn-round" (click)="archivo.click()">Seleccione su archivo</button>

              <br>
              <label>Nombre del archivo: {{fileName}}</label>
              <br>
              <span *ngIf="!fileFormatValid" class="text-danger">
                  Los formatos permitidos son SVG, PNG, JPG, JPEG
                </span>
            </div>

            <div class="col-md-4">
              <div class="form-group" formArrayName="activitiesTime">
                <label>Horario de actividades del evento</label>
                <button class="btn btn-primary btn-round" (click)="addInput()">Agregar</button>
                <div *ngFor="let actividad of formEvent.get('activitiesTime').controls; let i = index">

                  <label class="bmd-label-floating" *ngIf="i % 2 == 0">Hora inicio</label>
                  <label class="bmd-label-floating" *ngIf="i % 2 == 1">Hora fin</label>

                  <input type="time" class="form-control" [formControlName]="i" >

                  <div *ngIf="!actividad.valid && actividad.touched">
                    <div *ngIf="actividad.errors['required']" class="text-danger">
                      Este campo es requerido
                    </div>
                    <div *ngIf="actividad.errors['horaInicioActividadErronea'] " class="text-danger">
                      La hora de inicio de la actividad tiene que ser minimo la hora de inicio del evento
                    </div>
                    <div *ngIf="actividad.errors['horaFinActividadErronea'] " class="text-danger">
                      La hora de finalización de la actividad tiene que ser maximo la hora de finalización del evento
                    </div>
                    <div *ngIf="actividad.errors['actividadAnteriorErronea'] " class="text-danger">
                      La hora tiene que ser mayor a la anterior
                    </div>

                    <div *ngIf="actividad.errors['horaInicioActividadErroneaFin'] " class="text-danger">
                      La hora de inicio tiene que estar antes de la hora de finalización del evento
                    </div>

                  </div>


                  <button class="btn btn-danger btn-round" (click)="deleteInput(i)" *ngIf="i % 2 == 1">Eliminar</button>
                </div>

              </div>
            </div>

          </div>
          <div class="text-danger">{{error}}</div>
          <button class="btn btn-primary btn-round pull-left" (click)="crearEvento()" >Crear evento</button>
          <button class="btn btn-danger btn-round pull-left" routerLink="..">Cancelar</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>
