<mat-nav-list>

  <a mat-list-item routerLink="estadisticas" class="singleElementSideNav">
    <mat-icon>grid_on</mat-icon>
    <span class="sidenav-element">Estadística</span>
  </a>

  <mat-accordion mat-list-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon matPrefix>person</mat-icon>
          <span class="sidenav-element">Estudiantes</span>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-menu-item routerLink="estudiantes/aprobar-estudiantes">
        <mat-icon >check_circle_outline</mat-icon>
        Aprobar estudiantes
      </button>
      <button mat-menu-item routerLink="estudiantes">
        <mat-icon>people_outline</mat-icon>
        Estudiantes en el sistema
      </button>

    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion mat-list-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>calendar_today</mat-icon>
          <span class="sidenav-element">Eventos</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-menu-item routerLink="eventos/crear-evento">
        <mat-icon>insert_invitation</mat-icon>
        Crear evento
      </button>
      <button mat-menu-item routerLink="eventos">
        <mat-icon>date_range</mat-icon>
        Eventos
      </button>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion mat-list-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>work</mat-icon>
          <span class="sidenav-element">Empresas</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-menu-item routerLink="empresas/aprobar-empresas">
        <mat-icon>library_add</mat-icon>
        Aprobar empresas
      </button>
      <button mat-menu-item routerLink="empresas">
        <mat-icon>business_center</mat-icon>
        Empresas
      </button>

    </mat-expansion-panel>
  </mat-accordion>

  
  <mat-accordion mat-list-item>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>portrait</mat-icon>
            <span class="sidenav-element">Profesores</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-menu-item routerLink="profesores/crear-profesor">
          <mat-icon>person_add</mat-icon>
          Crear profesor asesor
        </button>
        <button mat-menu-item routerLink="profesores">
          <mat-icon>people</mat-icon>
          Profesores asesores
        </button>
  
      </mat-expansion-panel>
    </mat-accordion>

  <mat-accordion mat-list-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>folder</mat-icon>
          <span class="sidenav-element">Documentos</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-menu-item routerLink="documentos/crear-documento">
        <mat-icon>create_new_folder</mat-icon>
        Crear documento
      </button>
      <button mat-menu-item routerLink="documentos">
        <mat-icon>folder_shared</mat-icon>
        Documentos de práctica
      </button>

    </mat-expansion-panel>
  </mat-accordion>



</mat-nav-list>
