<div class="row">
  <div class="col-md-10  offset-1">
    <div class="card">
      <div class="card-header card-header-primary" data-background-color="purple">
        <h4 class="title">Horarios sugeridos por las empresas</h4>
      </div>
      <div class="card-body">
        <table class="table">
          <thead class="text-primary">
          <th>
            Nombre de la compañia
          </th>
          <th>
            Horario deseado
          </th>
          </thead>
          <tbody>
          <tr>
            <th>Compañia 1</th>
            <th>7:30 a 11:30</th>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
