/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
body {
  margin: 0;
}

.font-primary {
  color: #673AB7
}

mat-form-field {
  width: 100%;
}
mat-sidenav, mat-sidenav-content, mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
}

.sidenav-element {
  display: inline-block;
  padding-left: 15px;
}

table {
  width: 100%;
}

