<div class="col-md-10 offset-md-1">

  <form>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Semestres">
            <ng-container *ngFor="let semester of semesters">
              <mat-option  [value]="semester.id">Semestre {{ semester.semester == 1 ? 'I' : 'II' }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-select placeholder="Estado del estudiante">
            <mat-option>Aprobado</mat-option>
            <mat-option>Rechazado</mat-option>
            <mat-option>Pendiente</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-12 text-center">
        <button mat-raised-button color="primary">Buscar</button>
      </div>
    </div>
  </form>
</div>


<div>
  <canvas #canvas>{{ chart }}</canvas>
</div>
