<section>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <mat-card class="col-md-10 offset-md-1">
      <mat-card-title class="text-center font-primary">Cambio de contraseña</mat-card-title>
      <mat-card-content>
        <form class="text-center" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="row">

            <div class="col-md-4">
              <mat-form-field>
                <input matInput type="email" placeholder="Correo electronico" formControlName="email">
                <mat-error *ngIf="forgotPasswordForm.hasError('required', ['email'])">Este campo es obligatorio
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.hasError('email', ['email'])">Ingresa un correo electrónico válido
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field>
                <input matInput type="password" placeholder="Nueva contraseña" formControlName="newPassword">
                <mat-error *ngIf="forgotPasswordForm.hasError('newPassword', ['required'])">Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field>
                <input matInput type="password" placeholder="Confirmar nueva contraseña"
                  formControlName="confirmNewPassword">
                <mat-error *ngIf="forgotPasswordForm.hasError('confirmNewPassword', ['required'])">Este campo es
                  obligatorio</mat-error>
              </mat-form-field>

            </div>

          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <br>
  <div class="col-md-10 offset-md-1">
    <button type="submit" mat-raised-button color="primary">Cambiar contraseña</button>
  </div>

</section>