<mat-nav-list>

  <mat-accordion mat-list-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>assignment_late</mat-icon>
          <span class="sidenav-element">Administradores</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-menu-item routerLink="administradores/crear-administrador">
        <mat-icon>person_add</mat-icon>
        Agregar administrador
      </button>
      <button mat-menu-item routerLink="administradores">
        <mat-icon>assignment_ind</mat-icon>
        Administradores
      </button>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion mat-list-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>assignment</mat-icon>
          <span class="sidenav-element">Carreras</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-menu-item routerLink="carreras/crear-carrera">
        <mat-icon>playlist_add</mat-icon>
        Agregar carrera
      </button>
      <button mat-menu-item routerLink="carreras">
        <mat-icon>subject</mat-icon>
        Carreras
      </button>

    </mat-expansion-panel>
  </mat-accordion>


  <mat-accordion mat-list-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>account_box</mat-icon>
          <span class="sidenav-element">Coordinadores</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-menu-item routerLink="coordinadores/crear-coordinador">
        <mat-icon>person_add</mat-icon>
        Agregar coordinador
      </button>
      <button mat-menu-item routerLink="coordinadores">
        <mat-icon>person</mat-icon>
        Coordinadores
      </button>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion mat-list-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>view_list</mat-icon>
          <span class="sidenav-element">Tipos de evento</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-menu-item routerLink="tipos-evento/crear-tipo-evento">
        <mat-icon>add</mat-icon>
        Agregar tipo de evento
      </button>
      <button mat-menu-item routerLink="tipos-evento">
        <mat-icon>sort</mat-icon>
        Tipos de eventos
      </button>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion mat-list-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>calendar_today</mat-icon>
          <span class="sidenav-element">Semestres</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-menu-item routerLink="semestres/crear-semestre">
        <mat-icon>insert_invitation</mat-icon>
        Agregar semestre
      </button>
      <button mat-menu-item routerLink="semestres">
        <mat-icon>date_range</mat-icon>
        Semestres
      </button>

    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion mat-list-item>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>map</mat-icon>
          <span class="sidenav-element">Sedes</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-menu-item routerLink="sedes/crear-sede">
        <mat-icon>add_location</mat-icon>
        Agregar sede
      </button>
      <button mat-menu-item routerLink="sedes">
        <mat-icon>place</mat-icon>
        Sedes
      </button>

    </mat-expansion-panel>
  </mat-accordion>

</mat-nav-list>

