<section>
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-title class="font-primary">
          Datos personales
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="personForm">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input formControlName="name" matInput placeholder="Nombre">
                  <mat-error *ngIf="personForm.hasError('required', 'name')">Este campo es obligatorio</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input formControlName="firstLastName"  matInput placeholder="Primer apellido">
                  <mat-error *ngIf="personForm.hasError('required', 'firstLastName')">Este campo es obligatorio</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input formControlName="secondLastName"  matInput placeholder="Segundo apellido">
                  <mat-error *ngIf="personForm.hasError('required', 'firstLastName')">Este campo es obligatorio</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <input formControlName="id" type="number" matInput placeholder="Número de cédula">
                  <mat-error *ngIf="personForm.hasError('required', 'id')">Este campo es obligatorio</mat-error>
                  <mat-error *ngIf="personForm.hasError('max', 'id') || personForm.hasError('min', 'id')">El número de cédula tiene que ser de 9 dígitos</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <mat-select formControlName="gender" placeholder="Género">
                    <mat-option value="0">Masculino</mat-option>
                    <mat-option value="1">Femenino</mat-option>
                  </mat-select>
                  <mat-error *ngIf="personForm.hasError('required','gender')">Este campo es obligatorio</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker"  formControlName="birthdate" placeholder="Fecha de nacimiento">
                  <mat-error *ngIf="personForm.hasError('required','birthdate')">Este campo es obligatorio</mat-error>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field>
                  <input matInput  formControlName="phoneNumber" placeholder="Número de teléfono">
                  <mat-error *ngIf="personForm.hasError('required','phoneNumber')">Este campo es obligatorio</mat-error>
                </mat-form-field>
              </div>
              


              
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
