<div class="row">
  <div class="col-md-10 offset-1">
    <div class="card">
      <div class="card-header card-header-primary" >
        <h4 class="card-title">Crear semestre</h4>
      </div>
      <div class="card-body">
        <form [formGroup] = "formSemester">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group label-floating is-empty">
                <label class="bmd-label-floating">Año</label>
                <input type="year"
                       class="form-control"
                       id="nombreDeUsuario"
                       formControlName="year"
                >
                <span *ngIf="!formSemester.get('year').valid && formSemester.get('year').touched">

                  <div *ngIf="formSemester.get('year').errors['required']" class="text-danger"> Este campo es necesario</div>
                </span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Semestre</label>
                <select class="form-control"
                        id="universidades"
                        formControlName="semesterNumber">
                  <option >I semestre</option>
                  <option> II semestre</option>
                  <!--<option *ngFor="let universidad of universidades | async" [value]="universidad.IdUniversidad" >-->
                  <!--{{ universidad.NombreUniversidad }}-->
                  <!--</option>-->
                </select>
                <span *ngIf="!formSemester.get('semesterNumber').valid && formSemester.get('semesterNumber').touched">

                  <div *ngIf="formSemester.get('semesterNumber').errors['required']" class="text-danger"> Este campo es necesario</div>
                </span>
              </div>

            </div>

            <div class="col-md-12">
              <button class="btn btn-primary">Crear semestre</button>
              <button routerLink=".." class="btn btn-danger">Cancelar</button>
            </div>



          </div>

          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>

</div>
